h1, .btns, .selection, .score, .results, .final, .newDiv {
    display: flex;
    justify-content: center
}

h1 {
    
}

.btns {
    gap: 20px;
}

.selection, .score {
    gap: 20px;
}

.results {

}

.final {

}

.playAgain {

}