body {
    background-color: #ffe3db;
    font-family: "Autour One", sans-serif;
    color: #8c6338;
}

.heading, .rules, .btns, .selection, .score, .results, .final, .newDiv {
    display: flex;
    justify-content: center
}

.heading {
    padding-top: 70px;
    padding-bottom: 35px;
    font-size: 60px;
    font-weight: 500;
    white-space: nowrap;
}

.rules {
    font-size: 30px;
    padding-bottom: 40px;
}

.score {
    gap: 800px;
    padding-bottom: 40px;
    font-size: 30px;
    white-space: nowrap;
}

.btns {
    gap: 150px;
    padding: 10px;
}

.btns button {
    border: none;
    background-color: #ffe3db;
}

.btns button:hover {
    margin-top: -50px;
    transition: 0.5s;
}

.selection {
    gap: 100px;
    padding-top: 85px;
    padding-bottom: 35px;
    font-size: 30px;
    white-space: nowrap;
}

.results {
    font-size: 30px;
    padding-bottom: 50px;
    white-space: nowrap;
}

.final {
    font-size: 50px;
    padding-bottom: 40px;
    white-space: nowrap;
}

.newGameButton {
    font-size: 25px;
    font-family: "Autour One", sans-serif;
    padding: 20px;
    background-color: #fbb03b;
    color: #8c6338;
    font-weight: 550;
    border-radius: 25px;
    border: solid 5px #8c6338;
}

.newGameButton:hover {
    background-color: #f5a21c;
}